# Maven specific
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Java specific
*.class
*.log
*.ctxt
*.jar
*.war
*.ear

# IDEs and other tools
### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### Eclipse ###
.project
.classpath
.settings/
target/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# Frontend specific
node_modules/
dist/
build/
*.log

# Dependency directories
node/
bower_components/

# Production files
build/
dist/

# Temporary files
*.tmp
*.temp
*.bak
*.swp

# Operating system files
.DS_Store
Thumbs.db

# Other
*.env
.env.*
!.env.example